{% extends 'base/base.html' %}

{% block title %}{{ cake.name }} Details - My Website{% endblock %}

{% block content %}
    <h2>{{ cake.name }}</h2>
    <p>Description: {{ cake.description }}</p>
    <p>Price: {{ cake.price }}</p>
    <p>Stock: {{ cake.stock }}</p>

    <form action="{% url 'add_to_cart' item_type='cake' item_id=cake.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Add to Cart</button>
    </form>
    
    <!-- Include images, sizes, and reviews -->
    {% include 'cakes/includes/cake_details_include.html' %}
{% endblock %}
