{% extends "base/base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm border-light" style="transition: none; transform: none;">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0"><i class="bi bi-lock-fill me-2"></i>Forgot Password</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100 mt-3">
                            <i class="bi bi-send-fill me-2"></i> Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
<style>
    .card {
        border-radius: 1rem;
    }

    .card-header {
        border-radius: 1rem 1rem 0 0;
    }

    .form-control {
        border-radius: 0.5rem;
        box-shadow: inset 0 0 0 1px #ced4da;
    }

    .btn-primary {
        background-color: #ff66b2;
        border-color: #ff66b2;
    }

    .btn-primary:hover {
        background-color: #e55d9f;
        border-color: #e55d9f;
    }
</style>
{% endblock %}
