{% extends "base/base.html" %}
{% load static %}
{% block title %}Contact Us{% endblock %}

{% block content %}

<div>
  <img src="{% static 'image/pink1.jpg' %}" alt="Cake Image" class="up">
</div>

<div class="container">
  <h3 class="font-secondary">Choose Your Cake</h3>
  <div class="row">
    {% for cake in cakes %}
    <div class="col-md-3 mb-4">
      <div class="card position-relative">
        {% if cake in favorite_cakes %}
          <a href="{% url 'remove_favorite' 'cake' cake.id %}"><i class="fa fa-heart card-heart-icon clicked"></i></a>
        {% else %}
          <a href="{% url 'add_favorite' 'cake' cake.id %}"><i class="fa fa-heart card-heart-icon"></i></a>
        {% endif %}
        <a href="{% url 'cake_detail' cake.name %}">
          <div class="card-header">
            {% if cake.trending_entries.exists %}
              {{ cake.trending_entries.first.trend_type.name }}
            {% else %}
              Most Popular!
            {% endif %}
          </div>
          {% if cake.images.first %}
            <img class="card-img-top" src="{{ cake.images.first.image.url }}" alt="{{ cake.images.first.alt_text }}">
          {% else %}
            <img class="card-img-top" src="default_image_url" alt="No image available">
          {% endif %}
          <div class="card-body">
            <p class="card-text text-muted">{{ cake.category.name }}</p>
            <a href="{% url 'cake_detail' cake.name %}">
              <h5 class="card-title">{{ cake.name }}</h5>
            </a>
            <div class="card-footer">
              {{ cake.get_final_price|floatformat:2 }}$
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<style>
.up {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h3 {
  line-height: 3em;
}

.card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  max-width: 100%;
}

.card-img-top {
  width: 100%;
  height: 300px; /* Adjust height as needed */
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-title {
  color: #56091F;
  margin-bottom: 0.5rem;
}

.text-muted {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.card-footer {
  font-weight: bold;
  font-size: 18px;
  background-color: pink;
  border-top: none;
}

.card-heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #FAABBD;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 2;
}

.card-heart-icon.clicked {
  color: #FF0000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.card:hover .overlay {
  opacity: 1;
}

@media (max-width: 768px) {
  .card-title, .text-muted, .card-footer {
    font-size: 14px;
  }

  .card-footer {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .up {
    height: 200px;
  }

  .card-title, .text-muted, .card-footer {
    font-size: 12px;
  }

  .card-footer {
    font-size: 14px;
  }
}
</style>

{% endblock %}
