{% extends "base/base.html" %}

{% block title %}Order History{% endblock %}

{% block content %}
<h2>Order History</h2>

{% if orders %}
    <ul>
    {% for order in orders %}
        <li>
            <a href="{% url 'order_detail' order.id %}"><h3>Order #{{ order.id }}</h3></a>
            <p><strong>Total Price:</strong> ${{ order.total_price }}</p>
            <p><strong>Payment Status:</strong> {{ order.payment_status }}</p>
            <p><strong>Payment Method:</strong> {{ order.get_payment_method_display }}</p>
            <p><strong>Shipping Status:</strong> {{ order.get_shipping_status_display }}</p>
            <p><strong>Destination:</strong> {{ order.destination }}</p>
            <p><strong>Created At:</strong> {{ order.created_at }}</p>
            <p><strong>Updated At:</strong> {{ order.updated_at }}</p>
            <!-- Add more details if needed -->
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>You have no orders in your history.</p>
{% endif %}

<button><a class="text-white" href="{% url 'profile' %}">Back to Profile</a></button>
{% endblock %}
