/********** Template CSS **********/
:root {
    --primary: #E88F2A;
    --secondary: #FAF3EB;
    --light: #FFFFFF;
    --dark: #2B2825;
}

.font-secondary {
    font-family: 'Pacifico', cursive;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.btn {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.promotion{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 5vh;
    border: 1px solid #FAABBD;
}
.hero-header {
    background: url(../image/hero1.jpg) no-repeat center center;
    background-size: cover;
    color: white; /* Ensures text is visible over the background */
    position: relative;
    z-index: 1;
}


.hero-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
    z-index: -1;
}

.container-fluid {
    position: relative;
    z-index: 2;
}

/* Zoom Animation */
.zoom {
    transition: transform 0.3s ease;
}

.zoom:hover {
    transform: scale(1.1);
}

.image-container {
    position: relative;
    overflow: hidden; /* Ensure the zoomed image doesn't overflow the container */
}

.zoom1 {
    transition: transform 0.3s ease;
}

.zoom1:hover {
    transform: scale(1.1);
}

button.buy1 {
    background-color: #FAABBD;
    border: none;
    padding: 5px 30px;
    border-radius: 15px;
    cursor: pointer;
}

button.buy1:hover {
    background-color:#FFFFB7;
}
.image-container {
    position: relative;
    overflow: hidden;
}
.container-custom {
    padding: 0 25px; /* Adjust the padding as needed */
}

img.img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* You can adjust this value as needed */
}
image-container:hover .overlay {
    transform: scale(1.1);
}
button.see {
    background-color: #FAABBD;
    border: none;
    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid #FAABBD;
}
button.see:hover {
    background-color: white;
    border: 2px solid #FAABBD; /* Add border properties */
    border-radius: 15px;
    cursor: pointer;
}
.container4 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 80vh; 
    background-color:white; 
}

#middle .ico{
    background-color: #FAABBD;
}
#left .ico{
    background-color:#ffffb7 ;
}
#left .fa{
    color: #FAABBD;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 10px;
    left: 50%;
    bottom: 0;
    margin-left: -30px;
    background:#FAABBD;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 180px;
    height: 2px;
    left: 50%;
    bottom: 4px;
    margin-left: -90px;
    background:#FAABBD; ;
}

.service::after,
.contact::after {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% - 45px);
    top: 135px;
    left: 0;
    background: url(../image/choco4.jpg) center center no-repeat;
    background-size: cover;
    z-index: -1;
    border:#FF6B8A;
    border-color: #56091F;
    border-width: 1cm;
}
.service .col-md-6:hover .bg-primary {
    transform: scale(1.05); /* Adjust the scale value as needed */
    transition: transform 0.3s ease-in-out;
}

.service .col-md-6 .bg-primary {
    transition: transform 0.3s ease-in-out;
}

.up {
    width: 100%;
    height: 250px; /* Adjust height as needed */
    object-fit: cover;
}

.custom-card {
    max-width: 20rem; /* Adjust the maximum width of each card */
    flex: 0 0 auto;
    margin-right: 30px; /* Adjust the margin as needed */
    margin-bottom: 30px; /* Add margin at the bottom for spacing */
}
  
  body {
    font-style: sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  h3 {
    line-height: 3em;
  }
  .card {
    position: relative;
    overflow: hidden;
    text-align: center; /* Center the content within the card */
    height: 100%; /* Ensure the card takes full height */
}
.card-img-container {
    position: relative;
    height: 200px; /* Set a fixed height for the image container */
}
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover .card-overlay {
    opacity: 1; /* Show overlay on hover */
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}

button {
    background-color: #FAABBD;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FF6B8A;
}


.card-img-top {
    width: 100%;
    height: 300px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure the images cover the area without distortion */
}

@media (max-width: 1200px) {
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (max-width: 992px) {
    .col-md-3 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (max-width: 768px) {
    .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.custom-card-deck {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.custom-card {
    max-width: 16rem;
    flex: 0 0 auto;
    margin-right: 50px; /* Adjust the margin as needed */
}

.custom-card:last-child {
    margin-right: 0; /* Remove the margin for the last card */
}

.custom-card:hover {
    box-shadow: 1px 2px 10px lightgray;
    transition: 0.2s;
}

.custom-card-header {
    font-size: 10px;
    color: gray;
    background-color: white;
}

.custom-card-title {
    font-size: 17px;
    color: #56091F;
    text-align: left;
}

.custom-card {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(58, 57, 57, 0.1);
}

.custom-card-text {
    font-size: 11px;
}

.custom-card-footer {
    color:black;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
}

.table img {
    display: block;
    margin: 0 auto;
}

.table td {
    text-align: center;
    vertical-align: middle;
}
.container-fluid #con1 .row {
    height: 80vh; 
}

.container-fluid .text-center img {
    max-width: 400px; 
    height: auto; 
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Rubik", sans-serif;
    background-color:pink;
    color: #f24825;
    flex-direction: column;
    gap: 15px;
}

.container1 .title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
}

.container1 .description {
    width: 60%;
    text-align: center;
}

.cake-slider {
    overflow: hidden;
    background-color: white;
    width: 80vw;
    height: 200px;
    position: relative;
}

.cake-slider::after,
.cake-slider::before {
    position: absolute;
    width: 50px;
    height: 100%;
    content: "";
    background: linear-gradient(to right, rgba(246, 242, 239, 1) 0%, rgba(246, 242, 239, 0) 100%);
}

.cake-slider::before {
    left: 0;
    top: 0;
    z-index: 2;
}

.cake-slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider-wrapper {
    height: 100%;
    width: calc(300px * 18);
    display: flex;
    animation: slide 35s linear infinite;
}

.slider-wrapper:hover {
    animation-play-state: paused;
}

.slide {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slide:hover .img-container .cake-info {
    opacity: 1;
}

.img-container {
    width: 80%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

.cake-image {
    object-fit: cover;
    width: 300px;
}

.cake-info {
    opacity: 0;
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    transition: all 500ms ease;
}

.cake-title {
    font-weight: 500;
    text-align: center;
}

.cake-description {
    font-size: 12px;
    text-align: center;
}

.add-to-cart {
    width: 70%;
    height: 40px;
    border: none;
    background: #f24825;
    color: #f6f2ef;
    font-weight: 700;
    text-transform: uppercase;
    transition: transform 500ms ease;
    cursor: pointer;
}

.add-to-cart:hover {
    transform: scale(1.1);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-300px * 9));
    }
}
.pink-bg {
    padding: 20px 20px; 
    background-color:white; /* Change background to pink */
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto; /* Center align the container horizontally */
    margin-right: auto; /* Center align the container horizontally */
}

.stats-container {
    margin: 30px 0;
}

.stat-card {
    margin: 0 20px; /* Reduce the margin to make the stat cards closer together */
    text-align: center;
    flex: 1;
}

.stat-title {
    font-size: 2em;
    font-weight: bold;
    color: brown;
}

.stat-description {
    font-size: 1.2em;
    color: #555;
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
        align-items: center;
    }
    .stat-card {
        margin-bottom: 15px;
    }
}

.mb-5 {
    margin-bottom: 3rem; /* Adjusted margin-bottom to be smaller */
}

.contact_section {
    position: relative;
  }
  
  .contact_section form {
    margin-top: 25px;
  }
  
  .contact_section input {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    background-color: transparent;
    outline: none;
    color: #000000;
    border: 1px solid #a5a5a5;
  }
  
  .contact_section input::-webkit-input-placeholder {
    color: #6c6c6c;
  }
  
  .contact_section input:-ms-input-placeholder {
    color: #6c6c6c;
  }
  
  .contact_section input::-ms-input-placeholder {
    color: #6c6c6c;
  }
  
  .contact_section input::placeholder {
    color: #6c6c6c;
  }
  
  .contact_section input.message-box {
    height: 120px;
  }
  
  .contact_section button {
    border: none;
    display: inline-block;
    padding: 12px 35px;
    background-color: #46200b;
    color: #ffffff;
    border-radius: 0;
    border: 1px solid #46200b;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 15px;
    color: #fff;
    margin-top: 15px;
  }
  
  .contact_section button:hover {
    background-color: transparent;
    color: #46200b;
  }
  
  .contact_section .map_container {
    height: 345px;
    overflow: hidden;
    margin-top: 80px;
  }
  
  .contact_section .map_container .map {
    height: 100%;
  }
  
  .contact_section .map_container .map #googleMap {
    height: 100%;
  }
  