.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background-color: #f0f0f0; 
}

#middle .ico{
    background-color: #FAABBD;
}
#left .ico{
    background-color:#ffffb7 ;
}
#left .fa{
    color: #FAABBD;
}
.card {
    display: inline-block;
    width: 450px; 
    margin: 0 20px; 
    text-align: center;
    background-color: #FAABBD; 
    padding: 30px 20px 40px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    color: #333333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
}

.card.yellow {
    background-color: #ffffb7; 
}

.card .ico {
    background-color: inherit; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px; 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
}

.card .ico .fa {
    font-size: 50px;
    color: #FFFFFF; 
    text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.card .title {
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.card p {
    font-weight: 300;
}
.table img {
    display: block;
    margin: 0 auto;
}

.table td {
    text-align: center;
    vertical-align: middle;
}
.container-fluid #con1 .row {
    height: 80vh; 
}

.container-fluid .text-center img {
    max-width: 400px; 
    height: auto; 
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Rubik", sans-serif;
    background-color:pink;
    color: #f24825;
    flex-direction: column;
    gap: 15px;
}

.container1 .title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
}

.container1 .description {
    width: 60%;
    text-align: center;
}

.cake-slider {
    overflow: hidden;
    background-color: white;
    width: 80vw;
    height: 200px;
    position: relative;
}

.cake-slider::after,
.cake-slider::before {
    position: absolute;
    width: 50px;
    height: 100%;
    content: "";
    background: linear-gradient(to right, rgba(246, 242, 239, 1) 0%, rgba(246, 242, 239, 0) 100%);
}

.cake-slider::before {
    left: 0;
    top: 0;
    z-index: 2;
}

.cake-slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider-wrapper {
    height: 100%;
    width: calc(300px * 18);
    display: flex;
    animation: slide 35s linear infinite;
}

.slider-wrapper:hover {
    animation-play-state: paused;
}

.slide {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slide:hover .img-container .cake-info {
    opacity: 1;
}

.img-container {
    width: 80%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

.cake-image {
    object-fit: cover;
    width: 300px;
}

.cake-info {
    opacity: 0;
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    transition: all 500ms ease;
}

.cake-title {
    font-weight: 500;
    text-align: center;
}

.cake-description {
    font-size: 12px;
    text-align: center;
}

.add-to-cart {
    width: 70%;
    height: 40px;
    border: none;
    background: #f24825;
    color: #f6f2ef;
    font-weight: 700;
    text-transform: uppercase;
    transition: transform 500ms ease;
    cursor: pointer;
}

.add-to-cart:hover {
    transform: scale(1.1);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-300px * 9));
    }
}
